# 1) How-to-count-distance-to-the-previous-zero

For each value, count the difference of the distance from the previous zero (or the start
of the Series, whichever is closer) and if there are no previous zeros,print the position
Consider a DataFrame df where there is an integer column {'X':[7, 2, 0, 3, 4, 2, 5, 0, 3, 4]}
The values should therefore be [1, 2, 0, 1, 2, 3, 4, 0, 1, 2].
Make this a new column 'Y'.

import pandas as pd

df = pd.DataFrame({'X': [7, 2, 0, 3, 4, 2, 5, 0, 3, 4]})

In [14]:
import pandas as pd
import numpy as np

df = pd.DataFrame({'X': [7, 2, 0, 3, 4, 2, 5, 0, 3, 4]})
df_series = df['X']
df_list = df_series.tolist()
y=list()
count = 0
for l in df_list:
    if l == 0:
        count=0
    else:  
        count=count+1
    y.append(count)
    
df['Y']=y
df

   X  Y
0  7  1
1  2  2
2  0  0
3  3  1
4  4  2
5  2  3
6  5  4
7  0  0
8  3  1
9  4  2

In [21]:
#2) Create a DatetimeIndex that contains each business day of 2015 and use it to index a
#   Series of random numbers.

import pandas as pd
import numpy as np

data= pd.date_range(start='2015-01-01',end='2015-12-31',freq='B')

randomNum=np.random.rand(len(data))

s= pd.Series(randomNum,index=data)
print("Output \n")
print(s.head())
print(s.index)

Output

2015-01-01    0.389819
2015-01-02    0.138658
2015-01-05    0.850854
2015-01-06    0.016472
2015-01-07    0.712209
Freq: B, dtype: float64
DatetimeIndex(['2015-01-01', '2015-01-02', '2015-01-05', '2015-01-06',
               '2015-01-07', '2015-01-08', '2015-01-09', '2015-01-12',
               '2015-01-13', '2015-01-14',
               ...
               '2015-12-18', '2015-12-21', '2015-12-22', '2015-12-23',
               '2015-12-24', '2015-12-25', '2015-12-28', '2015-12-29',
               '2015-12-30', '2015-12-31'],
              dtype='datetime64[ns]', length=261, freq='B')

In [22]:
# 3) Find the sum of the values in s for every Wednesday

s[data.weekday_name=='Wednesday'].head()

print("Sum of values for Wedensday in s:")
s[data.weekday_name=='Wednesday'].sum()

Sum of values for Wedensday in s:

22.126021772302717

In [19]:
# 4) Average For each calendar month4) Average For each calendar month

s.resample('M',convention='end').mean()

2015-01-31    0.498673
2015-02-28    0.642758
2015-03-31    0.413621
2015-04-30    0.452715
2015-05-31    0.475024
2015-06-30    0.511295
2015-07-31    0.473258
2015-08-31    0.399508
2015-09-30    0.551639
2015-10-31    0.488719
2015-11-30    0.595471
2015-12-31    0.652149
Freq: M, dtype: float64

In [20]:
# 5) For each group of four consecutive calendar months in s, find the date on which the
#    highest value occurred.

print("Duration of consecutive 4 months  , till that highest value recorded \n")
print(s.groupby(pd.Grouper(freq='4M')).idxmax(),"\n")
print("Maximum value for the recorde date \n")
print(s[s.groupby(pd.Grouper(freq='4M')).idxmax()])

Duration of consecutive 4 months  , till that highest value recorded

2015-01-31   2015-01-30
2015-05-31   2015-02-02
2015-09-30   2015-08-12
2016-01-31   2015-10-20
dtype: datetime64[ns]

Maximum value for the recorde date

2015-01-30    0.973857
2015-02-02    0.985392
2015-08-12    0.998462
2015-10-20    0.976698
dtype: float64